<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>review</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <table>
                <% for(let i=0; i < personas.length; i++){ %>
                    <tr class="tr1">
                        <td>
                            評価：　<%= personas[i].rating %>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <%= personas[i].id %>.
                            <%= personas[i].username %>
                            （<%= personas[i].age %>歳）
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <%= personas[i].reason %>
                        </td>
                        <!-- <td id="updateBtn"><a href="/edit/<%= personas[i].id %>">更新</a></td>
                        <td id="deleteBtn"><a href="/delete/<%= personas[i].id %>">削除</a></td> -->
                    </tr>
                    <% } %>
                        <!-- <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr> -->
            </table>
            <!-- <div class="container">
                <p id="addUser"><a href="/create">ユーザーの追加</a></p>
            </div> -->
        </div>
        <script type="text/javascript">

            let userList = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            // let textBox = document.getElementById("textBox");
            // let searchBtn = document.getElementById("searchBtn");
            // searchBtn.addEventListener('click', function () {
            //     function table(k) {
            //         let tr = document.querySelectorAll(".tr");
            //         let td1 = document.createElement("td");
            //         let td2 = document.createElement("td");
            //         for (let i = 0; i < userList.length; i++) {
            //             td1.innerHTML = `name:${userList[k].name}`;
            //             td2.innerHTML = `email:${userList[k].email}`;
            //             if (textBox.value == userList[k].id) {
            //                 tr[k].appendChild(td1);
            //                 tr[k].appendChild(td2);
            //             }
            //         }
            //     }
            //     table(0);
            //     table(1);
            //     table(2);
            //     table(3);
            //     table(4);
            // });
        </script>
    </body>
</html>
