<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="search">
            <input type="text" id="textBox">
            <button id="searchBtn">ID検索</button>
        </div>
        <div class="container">
            <table>
                <tr>
                    <th>名前</th>
                    <th>email</th>
                    <!-- <th>更新</th>
                    <th>削除</th> -->
                </tr>
                <!-- 実務課題02 -->
                <% for(let i=0; i < users.length; i++){ %>
                    <tr>
                        <td>
                            <%= users[i].name %>
                        </td>
                        <td>
                            <%= users[i].email %>
                        </td>
                        <td id="editBtn"><a href="/edit/<%= users[i].id %>">更新</a></td>
                        <td id="deleteBtn"><a href="/delete/<%= users[i].id %>">削除</a></td>
                    </tr>
                    <% } %>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
                        <tr class="tr"></tr>
            </table>
            <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
            <!-- <p id="textTag"></p>
            <p id="textTag2"></p>
            <ul>
                <li id="li0"></li>
                <li id="li1"></li>
                <li id="li2"></li>
            </ul> -->
        </div>
        <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
        <script type="text/javascript">
            // // 参考例
            // let textTag = document.getElementById('textTag');
            // let NUMBER = `<%# number %>`;
            // textTag.innerHTML = NUMBER;
            // ここからはapp.jsで作成した値をここでブラウザに出力するように機能を実装していきましょう。上記の参考例を元にやってみましょう。
            // 基礎課題01:画面に表示する機能作りましょう。
            // let textTag2 = document.getElementById('textTag2');
            // let HUNDRED = `<%# hundred %>`;//app.jsから取得
            // textTag2.innerHTML = HUNDRED;
            /*
            基礎課題02,03をやる前に
            配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
            変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
            以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
            let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
            */

            // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。
            // let li0 = document.getElementById('li0');
            // let li1 = document.getElementById('li1');
            // let li2 = document.getElementById('li2');
            // let array = JSON.parse('<%# JSON.stringify(array) %>'.replace(/&#34;/g, '"'));//app.jsから取得
            // li0.innerHTML = array[0];
            // li1.innerHTML = array[1];
            // li2.innerHTML = array[2];

            // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
            // 例）
            // name: s.chiba
            // email: s.chiba@gmail.com
            // let tr = document.querySelectorAll(".tr");
            // let map = JSON.parse('<%# JSON.stringify(map) %>'.replace(/&#34;/g, '"'));//jsonからjsオブジェクトに変換
            // function table(j){
            //     let td1 = document.createElement("td");
            //     let td2 = document.createElement("td");
            //     for (let i = 0; i < map.length; i++) {
            //         td1.innerHTML = `name:${map[j].name}`;
            //         td2.innerHTML = `email:${map[j].email}`;
            //     }
            //     tr[j].appendChild(td1);
            //     tr[j].appendChild(td2);
            // }
            // table(0);
            // table(1);
            // table(2);
            // table(3);
            // table(4);
            //実務課題01
            let userList = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
            let textBox = document.getElementById("textBox");
            let searchBtn = document.getElementById("searchBtn");
            searchBtn.addEventListener('click', function () {
                function table(k) {
                    let tr = document.querySelectorAll(".tr");
                    let td1 = document.createElement("td");
                    let td2 = document.createElement("td");
                    for (let i = 0; i < userList.length; i++) {
                        td1.innerHTML = `name:${userList[k].name}`;
                        td2.innerHTML = `email:${userList[k].email}`;
                        if (textBox.value == userList[k].id) {
                            tr[k].appendChild(td1);
                            tr[k].appendChild(td2);
                        }
                    }
                }
                table(0);
                table(1);
                table(2);
                table(3);
                table(4);
            });
        </script>
    </body>
</html>
